body {
    margin-top: 4.5em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#333;
    background-color: lightcyan;
    line-height: 1.2em;
}

code {
    background-color: lightyellow;
}

pre {
    color: #333;
    background-color: lightyellow;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    padding: 0.8em;
    margin: 1em;
}

.heading {
    border-bottom: 1px solid gray;
    padding-bottom: 0.2em;
}

.latest-news-head a {
    background-color: mediumslateblue;
    color: ghostwhite;
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: fit-content;
    border-radius: 0.1em;
}

.latest-news-head:hover a {
    background-color: slateblue;
    text-decoration: underline;
    border-radius: 0.3em;
    transition-duration: 350ms;
}

/*  Idea is obtained from:
    https://daily-dev-tips.com/posts/css-shapes-triangles/ */
.latest-news-head .triangle-down {
    width: 0;
    height: 0;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .5em solid mediumslateblue;
    margin: 0.1em .5em -.6em 3.3em;
}

.content-timestamp {
    float: right;
    font-size: .85em;
    margin: -1.6em .5em 0 0
}

.content-news-head {
    float: none;
    padding-bottom: 0;
    clear: none;
    border-bottom: none;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0;
}

.content-news-head a {
    text-decoration: none;
    color: mediumslateblue;
}

.content-news-head a:hover {
    text-decoration: underline;
    text-decoration-color: mediumslateblue;
}

.content-news-body {
    border-top: 1px dashed lightblue;
    margin-top: .25em;
}

/* From archlinux website */
dl {
    clear: both;
}
dl dt,dl dd {
    margin-bottom: 0.25em;
    padding: 0.5em 0 0.25em;
    font-weight: bold;
    border-top: 1px dashed lightblue;
}
dl dt {
    color: #333;
    float: left;
    padding-right: 1em;
}
/* end from archlinux website */

.content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    margin: 1em;
    font-size: 0.8em;
}

.panel-left {
    flex: 6 0 19em;
}

.panel-right {
    flex: 1 1 15em;
}

.content-box {
    background-color: aqua;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
}

.content {
    padding: 0.8em;
    margin: 1em;
}

.nav-container {
    background-color:#333;
    margin-top: 0px;
    margin: 0;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.nav-logo {
    display: block;
    max-height: 1.75em;
    margin-left: 0px;
    margin-right: auto;
    padding: 1em;
}

.nav-icon {
    display: none;
}    

.top-navbar {
    background-color: #333;
    overflow: hidden;
}

.top-navbar a {
    float: left;
    display: block;
    color:gray;
    text-align: center;
    padding: 1.25em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.top-navbar a:hover, .nav-logo:hover {
    background-color: darkslategray;
    color: #f2f2f2;
    text-decoration: underline;
    border-radius: 0.625em;
    transition-duration: 350ms;
}

.top-navbar a.nav-icon {
    display: none;
}

a {
    text-decoration: none;
    color: slateblue;
}

a:hover {
    text-decoration: underline;
}

div.nav-home a.nav-home, div.nav-blog a.nav-blog, div.nav-wiki a.nav-wiki, div.nav-sharebook a.nav-sharewiki
{
    color: white;
}

/*  When the screen is less than 600 pixels wide, hide all links,
    except for the first one ("Home"). Show the link that contains
    should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .content-container {
        flex-direction: column;
    }
    .panel-left, .panel-right {
        flex: auto;
    }
    .panel-right {
        border-top: 1px dashed lightblue;
        margin-top: .25em;
    }
}

@media screen and (max-width: 700px) {
    .top-navbar a {
        display: none;
    }
    .top-navbar a.nav-icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .content-timestamp {
        float: none;
        font-size: .85em;
        margin: 0 .5em 0 0
    }
}

/*  The "responsive" class is added to the topnav with JavaScript
    when the user clicks on the icon. This class makes the topnav
    look good on small screens (display the links vertically
    instead of horizontally) */
@media screen and (max-width: 700px) {
    .nav-container.responsive {
        flex-direction: column;
    }
    .top-navbar.responsive {
        position: relative;
    }
    .top-navbar.responsive a.nav-icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .top-navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
